<p>
    Component Musicas
</p>
<app-pesquisa-musica (pesquisarMusica)="pesquisarMusicas($event)"></app-pesquisa-musica>
<div class="row">
    <div class="col-md-12">
        <table style="width: 99%" class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col" style="width:50%">Music Name</th>
                    <th scope="col" style="width:40%">Artist Name</th>
                    <th scope="col" style="width:10%">
                        <input type="checkbox" name="musicaCheckbox" (change)="selecionarMusica()" />
                    </th>
                </tr>
            </thead>

            <tr *ngFor="let musica of listaMusicas">

                <td>{{musica.nome}}</td>
                <td>{{musica.artista.nome }}</td>
                <td>
                    <input #mscSelecionada type="checkbox" name="musicaCheckbox" (change)="selecionarMusica(musica)" [checked]="this.musicasSelecionadas.indexOf(musica.id) >= 0">
                </td>
            </tr>
        </table>
    </div>
</div>